.BackGround {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100dvw;
  height: 100dvh;

  .Blur {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

    width: 100dvw;
    height: 100dvh;

    backdrop-filter: blur(15px);
  }

  img {
    position: relative;
    z-index: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}
