.Assignees {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  .Assignee {
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 22px;
    height: 22px;

    outline: 1.5px solid rgb(215, 215, 215);
    border-radius: 50%;

    transition: 0.1s all;

    img {
      width: 100%;

      background-color: rgb(240, 240, 240);
    }

    &:hover {
      transform: translateY(-2px);
    }
  }
}
