.Members {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  user-select: none;

  ul {
    display: flex;
    align-items: center;

    list-style: none;

    li {
      position: relative;

      display: flex;
      justify-content: center;
      align-items: center;

      width: 30px;
      height: 30px;

      transition: 0.15s all ease;

      cursor: pointer;

      &:hover {
        z-index: 10;

        transform: translateY(-5px);
      }

      &:active {
        transform: translateY(3px);
      }

      .ImageContainer {
        overflow: hidden;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        justify-content: center;
        align-items: center;

        width: 120%;
        height: 120%;

        border: 2px solid rgb(240, 240, 240);
        border-radius: 50%;

        img {
          height: 110%;
        }
      }
    }
  }
}
