.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.9rem;

  min-width: max-content;
  height: 2.2rem;
  padding: 0 1rem;

  opacity: 0.8;
  background-color: #074db5;
  color: rgb(255, 255, 255);
  border-radius: 0.2rem;
  outline: none;
  border: none;

  font-size: 0.75rem;

  cursor: pointer;
  user-select: none;

  transition: 0.1s all ease;

  p {
    transition: 0.1s all ease;
  }

  &:hover {
    opacity: 1;

    svg {
      fill: white;
    }

    svg,
    p {
      transform: translateY(-3px);
    }
  }

  &:active {
    opacity: 0.8;

    svg,
    p {
      transform: translateY(3px);
    }

    transform: translateY(2px);
  }

  svg {
    width: 14px;

    fill: white;

    transition: 0.1s all ease;
  }
}

.IconButton {
  width: 2.5rem;
  height: 2.4rem;
  padding: 0;
}
