.ProjectNavLarge {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  width: 240px;
  min-width: 240px;
  height: 100vh;
  padding: 10px 17px;

  background-color: rgb(245, 245, 245);
  border-right: 1.6px solid rgb(220, 220, 220);

  user-select: none;

  header {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    .ProjectImage {
      width: 35px;
      height: 35px;

      border-radius: 0.2rem;
      background-color: rgb(215, 215, 215);

      cursor: pointer;
    }

    aside {
      display: flex;
      flex-direction: column;

      .ProjectName {
        color: rgb(45, 45, 45);

        font-size: 0.85rem;
        font-weight: 500;
      }

      .ProjectCategory {
        color: rgb(100, 100, 100);

        font-size: 0.7rem;
        font-weight: 500;
      }
    }
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }

  @media screen and (max-width: "1000px") {
    display: none;
  }
}
