.BackLogList {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: max-content;

  border-radius: 0.15rem;
  background-color: rgb(250, 250, 250);
  outline: 2px solid rgb(240, 240, 240);

  .Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    width: 100%;
    padding: 8px;
    padding-bottom: 8px;

    border-bottom: 2px solid rgb(240, 240, 240, 0);

    user-select: none;

    transition: all 1s ease;

    aside {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.45rem;

      sub {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.3rem;
      }
    }

    .Indicator {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 34px;
      height: 34px;

      border-radius: 0.2rem;
      background-color: rgb(240, 240, 240);

      svg {
        width: 10px;

        fill: rgb(120, 120, 120);

        path {
          fill: rgb(120, 120, 120);
        }
      }
    }

    .Label {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 34px;
      padding: 0 1rem;

      border-radius: 0.2rem;
      background-color: rgb(240, 240, 240);
      color: rgb(120, 120, 120);

      font-size: 0.85rem;
    }

    .Counter {
      display: flex;
      justify-content: center;
      align-items: center;

      min-width: 34px;
      height: 34px;
      padding: 0 0.8rem;

      border-radius: 0.2rem;
      background-color: rgb(240, 240, 240);
      color: rgb(120, 120, 120);

      font-size: 0.85rem;
    }
  }

  .Logs {
    overflow: hidden;

    width: 100%;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgb(200, 200, 200);
    }

    &::-webkit-scrollbar-track {
      background-color: rgb(230, 230, 230);
    }

    .Container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      min-height: max-content;
      padding: 20px 10px;
      padding-bottom: 10px;

      cursor: pointer;
    }

    .Empty {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
      min-height: 36px;
      margin-bottom: 10px;

      outline: 2px dashed rgb(235, 235, 235);
      border-radius: 0.2rem;
      color: rgb(220, 220, 220);

      font-size: 0.75rem;
      user-select: none;
    }
  }

  footer {
    padding: 10px;
    padding-top: 10px;

    border-top: 2px solid rgb(240, 240, 240, 0);
  }
}
